$selected: #1890ff;
$border-color: #e8e8e8; // #d9d9d9

.layers-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 0;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    // font-size: 16px;

    .selected {
        color: $selected;
    }

    .handler {
        // width: 50px;
        text-align: end;

        .btn {
            opacity: .2;
        }
    }

    &:hover {
        .handler {
            .btn {
                opacity: 1;
            }
        }
    }
}